header {
    height: 30px;
    position: absolute;
    width: 100%;
}

a.text {
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: .80em;
    font-weight: lighter;
}

.top-left-nav a {
    color: rgba(0, 0, 0, 0.700);
}

.top-right-nav a {
    color: black;
}

a.text:hover {
    text-decoration: underline;
}

nav {
    position: absolute;
    bottom: 0;
    word-spacing: 12px;
}

.top-left-nav {
    left: 15px;
}

.top-right-nav {
    right: 35px;
}

#apps-icon {
    position: relative;
    bottom: -3px;
}

#sign-in {
    box-sizing: border-box;
    word-spacing: 0;
    border: 1px solid rgb(67, 135, 253);
    background-color: rgb(67, 135, 253);
    color: white;
    text-decoration: none;
    padding: .55em .85em;
    font-size: .8em;
    font-family: arial, sans-serif;
    font-weight: bold;
    border-radius: .15em;
}

main {
    position: relative;
    top: 210px;
}

#logo {
    display: block;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
}

#searchbar {
    box-sizing: border-box;
    display: block;
    width: 43em;
    height: 3.5em;
    margin: 0 auto;
    margin-bottom: 30px;
    border: solid 1px rgb(204, 202, 202);
    border-radius: 2em;
    padding-left: 1em;
}

.submit {
    text-align: center;
    word-spacing: 10px;
}

.submit input {
    display: inline-block;
    max-width: 150px;
    font-family: arial, sans-serif;
    font-size: 14px;
    border: hidden;
    padding: .75em 1.1em;
    background-color: lightgray;
    border-radius: .2em;
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
}

.submit input:hover {
    cursor: pointer;
    border: 1px solid gray;
}
