header {
    height: 30px;
    /* border: red 1px solid; */
    position: absolute;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.700);
    font-family: arial, sans-serif;
    font-size: .80em;
    font-weight: lighter;
}

a:hover {
    text-decoration: underline;
}

#top-left-nav {
    align-content: bottom;
    /* border: black 1px solid; */
    display: inline;
    position: absolute;
    bottom: 0;
    left: 15px;
    word-spacing: 12px;
}

main{
    position: relative;
    top: 210px;
}

#logo {
    display: block;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
}

main input {
    display: block;
    width: 45em;
    height: 3em;
    margin: 0 auto;
    border:none;
    border: solid 1px rgb(204, 202, 202);
    border-radius: 2em;
}
